<div class="applicants">
  <% if current_user.projects.present? %>
    <% current_user.projects.each do |project| %>
      <% project.applications do |applicants|%>
      <p> <%= link_to applicants.name, project_path(project.id) %>
        <p class="btn btn-secondary"> <%= link_to "accept", accept_path(id: project.applications.last), method: :post %> </p>
        <p class="btn btn-info"> <%= link_to "reject", reject_path(id: project.applications.last), method: :post %> </p>
      <% end %>
    <% end %>
  <% else %>
    <p>There are no applications to your projects</p>
  <% end %>

</div>
