<div class="container">
  <p id="box-description-homepage"> Code Buddies is a community made of tech enthusiasts who know how important it is to collaborate, share opinions and experiences. We believe that nothing great comes from a single individual, we know that there is no I in team (yes, we also know that there is u in bug, but that's for another day ;) ) and that by collaborating on a project, great things happen. This is the Landing Page - Path is : root_path</p>
</div>

<div class="box-tagline">
  <div class="new600px-container">
    <div class="taglines">
      <h4><%= @usersRoundedDown %>+<br />Members</h4>
    </div>
    <div class="taglines">
      <h4><%= @projectsRoundedDown %>+<br />Projects</h4>
    </div>
    <div class="taglines">
      <h4><%= @technologiesRoundedDown %>+<br />Technologies</h4>
    </div>
  </div>

</div>
