<div class="banner-image">
  <div class="container">
    <div class="align-banner">
      <div class="banner-text">
        <h1>The Community</h1>
        <h3>Join the coding revolution. Clearly fake text</h3>
      </div>  <!-- banner-text -->
    </div> <!-- align-banner -->
  </div>  <!-- container -->
</div>

