<div class="box-tagline">
    <div class="taglines mt-3 pt-3">
      <h3>Find buddies to collaborate with:</h3>
    </div>
</div>


<div class="container">

  <div class="buddies-list">
      <% @users.each do |user| %>
        <div class="buddies">
          <div class="project-title">
            <p class="larger-text"><%= user.first_name %> <%= user.last_name %> </p>
            <div class="project-details">
              <p class="grey-text"><%= link_to user.first_name, user_path(user) %> </p>
            </div>
          </div>
        </div>
      <% end %>
  </div>

    <div class="d-flex justify-content-center">
      <%= link_to "Projects", projects_path, class: "btn btn-primary" %>
    </div>
</div>
