<div class="banner-image">
  <div class="container">
    <div class="align-banner">
      <div class="banner-text">
        <h1>Find a coding buddy</h1>
        <h3>Improve your tech skills and expand your network</h3>
      </div>  <!-- banner-text -->
    </div> <!-- align-banner -->
  </div>  <!-- container -->
</div>

