<h5 class="mt-5" id="search-header"><i class="fas fa-search fa-rotate-90"></i> Search</h5>
<%= form_tag "projects#search-header", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "What do you fancy working on today?"
  %>
  <%= submit_tag "Search", class: "btn btn-primary mt-3" %>
  <%= link_to "Reset", projects_path, class: "btn btn-outline-primary mt-3" %>
<% end %>
