// Define variables for your color scheme

// For example:
$red: #9B3B5A;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$white: #ffffff;

// Custom colours:
$my-red: #9B3B5A;
$my-blue: #303853;
$my-light-blue: #4090BE;
$my-green: #66BA7E;
$my-gray: #40484A;
$my-light-gray: #afa9a8;
$my-turquoise: #008297;
$my-dark-red: #782842;
$my-purple: #9F4B84;
$my-yellow: #beb140;
$my-orange: #be7531;
$my-pink: #F8EAEA;
$my-light-green: #92bfa0;
$navbar-gray: #f6f8fa;
$font-awesome-icons-gray: #c0c0c0;
$medium-dark-gray: #A9A9A9;
$light-gray: #F4F4F4;
$dark-gray: #666666;
$light-red: #9b7d86;
$beginner: #4CAF50;
$intermediate: #FF9800;
$advanced: #FF5722;
