// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Custom colours:
$my-red: #9B3B5A;
$my-blue: #303853;
$my-light-blue: #4090BE;
$my-green: #66BA7E;
$my-gray: #40484A;
$my-light-gray: #AB9B99;