.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  // grid-template-rows: 100px 200px 100px;
}

.card-product {
  overflow: hidden;
  height: 370px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
}

.card-product-infos {
  padding: 8px;

  .nav-link {
    margin-bottom: 8px;
    text-align: center;
    color: white;
    background-color: $my-red;
    border: solid 1px $my-red;
    border-radius: 3px;
  }
}

.card-product img {
  height: 40%;
  width: 100%;
  object-fit: cover;
}

.card-product h5 {
  // font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.set-height-user-index {
  height: 150px;
}
