#box-description-homepage {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: lighter;
  color: $my-light-gray;
}

.box-tagline {
  background-color: $white;
  background-image: url("https://image.freepik.com/free-vector/white-blurred-futuristic-technology-background_23-2148402775.jpg");
  background-size: cover;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.new600px-container {
  display: flex;
  padding-top: 25px;
}

.taglines {
  margin: auto;
  text-align: center;
  h3 {
    padding-top: 24px;
  }
}

.sections-title {
  color: $my-dark-red;
  margin: 16px auto;
  text-align: center;
  padding-top: 50px
}

.main-how-it-works {
  color: $my-blue;
  display: flex;
  text-align: center;
  padding-bottom: 50px;
    h5 {
      font-weight: bold;
    }
    p {
      font-weight: lighter;
      color: $my-light-gray;
    }
}

.join-a-project {
  margin: auto;
}

.line {
  border-right: 1px solid black;
  margin-top: 16px;
  margin-bottom: 16px;
}

.create-a-project {
  margin: auto;
}

.left-side {
  margin-bottom: 16px;
  justify-content: center;
    p {
      margin-right: 32px;
    }
}

.right-side {
  margin-bottom: 16px;
  justify-content: center;
  p {
    margin-left: 32px;
  }
}

.text {
  align-self: flex-end;
}

.how-it-works-descriptions {
  margin-bottom: 32px;
}
