#box-description-homepage {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: lighter;
  color: $my-light-gray;
}

.box-tagline {
  background-color: $light-gray;
  height: 100px;
}

.new600px-container {
  display: flex;
}

.taglines {
  margin: auto;
  text-align: center;
  h3 {
    padding-top: 16px;
  }
}

.sections-title {
  color: $my-dark-red;
  margin: 16px auto;
  text-align: center;
}
.main-how-it-works {
  color: $my-blue;
  display: flex;
  text-align: center;
    h5 {
      font-weight: bold;
    }
    p {
      font-weight: lighter;
      color: $my-light-gray;
    }
}
.join-a-project {
  margin: auto;
}

.line {
  border-right: 1px solid black;
  margin-top: 16px;
  margin-bottom: 16px;
}

.create-a-project {
  margin: auto;
}

.left-side {
  margin-bottom: 16px;
  justify-content: center;
    p {
      margin-right: 32px;
    }
}

.right-side {
  margin-bottom: 16px;
  justify-content: center;
  p {
    margin-left: 32px;
  }
}

.text {
  align-self: flex-end;
}

.how-it-works-descriptions {
  margin-bottom: 32px;
}

.centered {
  margin: 0 auto;
  text-align: center;
    img {
    }
    .text {
    }
}
