<h1>Profile</h1>

<h1>Profile</h1>

<p>My Dashboard</p>

<%= current_user.first_name  %>


<%= link_to "create a project", new_project_path %>


<%= link_to "see my project", new_project_path() %>

<% @projects.each do |project| %>
            <p><%= project.title %> </p>
          <% end %>
