<h1>Projects#index</h1>
<p>List of all projects</p>
<p>path is : projects_path </p>
<% @projects.each do |project| %>
  <p><%= link_to "Project show page", project_path(project)  %></p>
  <p><%= project.id  %></p>
  <p><%= project.title %></p>
  <p><%= project.difficulty %></p>
<%  end %>
