.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1.project-title {
  font-size: 2rem;
}

.update-status-button {
  margin-right: 15px;
}

.project-description {
  margin-top: 20px;
}

@media only screen and (max-width: 991px) {
 .title-container {
   display: block;
 }
}

.project-side-header{
  margin-bottom: .25rem;
  @media only screen and (max-width: 576px) {
    & {
      margin-top: 20px;
    }
   }
}

.project-main-header, .project-side-header, .related-projects-header {
  color: #8c8c8c;
}

.related-projects-header {
  margin-top: 50px;
}

.project-buddies-header, .project-reviews-header {
  margin-top: 50px;
}

.tech-icon {
  margin-right: 15px;
  vertical-align: middle;
  width: 15%;
  @media only screen and (max-width: 768px) {
    & {
      width: 30%;
    }
  }
  @media only screen and (max-width: 576px) {
    & {
      width: 10%;
    }
  }
}

.all-projects-link {
  color: #8c8c8c;
  text-decoration: undeline;
  &:hover {
    color: $my-red;
  }
}

.related-project-title-link {
  color: #8c8c8c;
  text-decoration: undeline;
  &:hover {
    color: #8c8c8c;
    text-decoration: none;
  }
}

.apply-button{
  width: 250px;
  margin-top: 50px;
}

.related-project-card {
  width: 30%;
  height: 210px;
  padding: 10px;
  display: inline-block;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  background-image: url(https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg);
  background-repeat: no-repeat;
  margin-bottom: 50px;
  h5 {
    font-size: 1rem;
    line-height: 1.3rem;
    color: $my-red;
    a {
      text-decoration: none;
      &:hover {
        color: $my-red;
        text-decoration: none;
      }
    }
  }
  p.project-level {
    font-size: .8rem;
  }
  p.project-description {
    font-size: .9rem;
  }
  .first-section {
    height: 50px;
  }
  .tech-icon {
    width: 10%;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  @media only screen and (max-width: 768px) {
    & {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  @media (max-width:992px) and (min-width:769px) {
    & {
      width: 45%;
      margin-bottom: 10px;
    }
  }
}

#project-show-bar-chart {
  color: #8c8c8c;
  opacity: 1;
}

.alert-info {
 position: relative;
 text-align: center;
 width: 100%;
 margin: 16px auto auto auto !important;
 margin-right: 0 !important;
 color: #155724;
 background-color: #d4edda;
 border: 1px solid #c3e6cb;
}

.alert {
  right: 0 !important;
}