.projects-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 12px 0;
}

.projects {
  flex: 0 0 30%;
  background: rgb(8,47,67);
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 5px;
  max-height: 240px;
  overflow: hidden;
  color: white;
}

.project-details {

}

.project-description {

}

.larger-text p {
  font-size: bold;
}
