.my-slider {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
}

.projects {
  width: 100%;
  display: grid !important;
  padding: 15px;
  margin: 8px;
  height: 240px;
  overflow: hidden;
  color: white;
  background-image: url("https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg");
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    a {
      color: $my-red;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: transform 0.2s ease-in-out;
    }
}

.landing-page-carousel-project-title {
  height: 60px;
  margin-bottom: 0;
  font-size: large;
}

.project-side-header {
  margin: 0;
  font-size: large;
    &.beginner {
      color: $beginner;
    }
    &.intermediate {
      color: $intermediate;
    }
    &.advanced {
      color: $advanced;
    }

}

.fas {
  color: $font-awesome-icons-gray;
  opacity: 0.55;
}

.icon {
  max-width: 30px;
}

.project-tech-icon-home {
  margin-right: 16px;
  vertical-align: middle;
  align-self: center;
  width: 10%;
  @media only screen and (max-width: 768px) {
    & {
      width: 5%;
    }
  }
}

.larger-text p {
  font-size: bold;
}

.slider-container {
    padding: 2rem;
    // overflow: hidden;
    border-radius: 5px;
    position:relative;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        color: blue;
    }
}

.controls {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    // background: #333;
    width: 100%;
    top: 40%;
    transform: translatey(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:focus {
        outline: none;
    }

    li:hover {
        cursor: pointer;
    }

}

.buddies {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
    a {
    // color: rgb(8,47,67);
  }
}

.buddies-list {
  padding: 16px;
  background-color: $white;
  height: 240px;
  color: white;
  background-image: url("https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg");
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.buddies-list-top {
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 2fr;
  height: 60px;
}

.buddies-list-bottom {
  padding-top: 24px;
  margin-bottom: 0;
  color: $medium-dark-gray;
}

.buddy-user-name {
  margin-top: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .buddies {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .buddies {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .buddies {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .buddies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .buddies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}