.create-project {
  background: white;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 0 1px #707070;
  h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    // color: $my-red;
    color: #707070;
    margin-top: 20px;
  }
  .button-container {
    width: 100%;
    text-align: center;
  }
  .btn {
    margin: 20px auto 20px auto;
    width: 50%;
  }
  label, p {
    margin-top: 20px;
  }
  p {
    margin-bottom: 0;
  }
}

.technology-choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.technology-choice {
  background: $light-gray;
  padding: 15px;
  // opacity: .9;
  text-align: center;
  margin: 10px;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    color: white;
    background: $my-red;
    opacity: 1;
  }
}

.edit-project-button{
  margin-right: 15px;
}

#no_border {
  color: RGB(30, 30, 30);
  border: 0;
  background-color: $navbar-gray;
  border-radius: 5px;
  box-shadow: none;
}



// NEW FORM STYLING//

h1.form-project-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  // color: $my-red;
  color: #707070;
  margin-bottom: 20px;
}

.form-section-number {
  background-color: $my-red;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 10px;
  p {
    margin-top: 1px;
  }
}

.form-section-header {
  display: inline-block;
}

.form-group {
  padding: 10px;
  label {
    color: #8c8c8c;
  }
}

.button-container {
  width: 100%;
  text-align: center;
}
.create-project-button {
  margin: 20px auto 20px auto;
  width: 50%;
}