.navbar {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-image: url("https://i.pinimg.com/736x/b2/6b/52/b26b5205fba34bb6971eb486157ac017.jpg");
  background-size: cover;
}

.navbar-lewagon {

  justify-content: space-between;
  // background: rgb(30, 30, 30);
  background-color: $light-gray;

}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  // justify-content: flex-end;
}

.button-style {
  background-color: #9B3B5A;
  // color: white;
  // font-weight: bold;
  padding: 0 16px;
  border-radius: 5%;
}

.nav-link-light {
  color: white;
}

.nav-link {
  color: #9B3B5A;
}

.dropdown-menu{
  // margin-right: 40px;
}
