.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon {

  justify-content: space-between;
  // background: rgb(30, 30, 30);
  background: white;

}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  // justify-content: flex-end;
}

.button-style {
  background-color: #1b8f4d;
  // color: white;
  // font-weight: bold;
  padding: 0 16px;
  border-radius: 5%;
}

