.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project-description {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
 .title-container {
   display: block;
 }
}
